
.blog_text {
    text-align: justify;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 35px;
}

img{
    width: 65px;
    height: 65px;
    display: block;
    margin-top: -1px;
}

#entry{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 40px!important;
    font-size: 16px!important;
}
  
.login{
    display: none !important;
  }

  .login-form{
    width: 40%;
    margin: 0px auto;
  }

.form-control {
  display: block;
  width: 100%!important;}

.form-multiline .form-group {
    margin-bottom: 15px;
    margin-right: 30px;
}
.form-multiline label,
.form-multiline .form-control {
    margin-right: 15px;
}
 .f {
            float: right;
        }
 .btn-lg {
    padding: 10px 14px;
    font-size: 18px;
    line-height: 1;
    border-radius: 4px;
  }

 .btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
div.search-form{
    width: 70%!important;

}







